#gameContainer {
  display: flex;
  justify-content: center;
}

#gameContainer section {
  padding: 2rem;
}

#trackSection {
  display: flex;
  flex-direction: column;
}

#trackSection h2 {
  text-align: center;
}
.track {
  padding: 1rem;
}

.trackButton {
  margin-right: 2rem;
}

#trackName {
  color: #ffff;
}

.artist {
  padding: 0.5rem;
  color: #ffff;
  display: flex;
  align-items: center;
}

.artist-image {
  margin: auto 10px;
  height: 40px;
  width: 40px;
}

button {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px;
  padding: 0 10px 0 11px;
  width: 100px;
  text-align: center;
}
button:hover {
  background-color: #1db954;
  color: #ffffff;
}

#changeConfigBtn {
  width: 200px;
  margin-left: 2rem;
}

#artistSectionBtnContainer {
  padding-top: 1rem;
}

#guessNotification {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #ffff;
}
#gamePageHeader {
  text-align: center;
}

.error {
  color: #e7195a;
}

@media (max-width: 800px) {
  #gameContainer {
    flex-direction: column;
    align-items: center;
  }

  #trackSection section,
  #artistChoiceSection section,
  #gameContainer section {
    padding: 0.5rem;
  }
  #gamePageHeader {
    margin: 0;
  }
  #trackSection h2,
  #artistChoiceSection h2 {
    margin: 0.8rem;
  }
}
