body {
  background-color: #212121;
  font-family: "Sans Serif Collection";
}

#main {
  display: flex;
  justify-content: center;
  padding: 1rem;
  flex-direction: column;
  background-color: #212121;
}

h1 {
  margin: 0;
  font-size: 4rem;
  text-align: center;
  color: #ffffff;
}

h2 {
  text-align: center;
  justify-content: center;
  color: #1db954;
  font-size: 2rem;
}

#main > h2 {
  margin: 1rem;
}

#buttonHome {
  background-color: #fff;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  box-shadow: rgba(213, 217, 217, 0.5) 0 2px 5px 0;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  font-size: 30px;
  line-height: 29px;
  padding: 0.5rem;
  width: 200px;
  text-align: center;
  margin-top: 3rem;
  background-color: #535353;
  border-color: #535353;
  color: #ffffff;
  transition-duration: 0.3s;
  border-radius: 20px;
}

#homeButtonContainer {
  display: flex;
  justify-content: center;
}

#buttonHome:hover {
  background-color: #1db954;
  color: #ffffff;
}

#select {
  text-align: center;
  background-color: #535353;
  border-radius: 20px;
  border-color: #535353;
  color: #ffffff;
  padding: 0.5rem;
}

#element1 {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
  margin-right: 8rem;
}

#element1 select {
  font-size: 1.2rem;
}

#element2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  color: #ffffff;
  font-size: 2rem;
}

#element2 #numberOfArtists {
  font-size: 2rem;
  width: 8rem;
  border-radius: 20px;
  text-align: center;
  background-color: #535353;
  border: none;
  color: #ffffff;
}

#element3 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
    font-size: 2rem;
}

#element3 #numberOfSongs {
  font-size: 2rem;
  width: 8rem;
  border-radius: 20px;
  text-align: center;
  background-color: #535353;
  border: none;
  color: #ffffff;
}

#main > h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#homeInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#spotifyLogo {
  text-align: center;
}

#spotifyLogo > svg {
  color: #1db954;
  height: 5rem;
  width: 5rem;
  padding: 2rem;
}

#logoAndHeaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 650px) {
  #main h1 {
    font-size: 3.5rem;
  }

  #element1 {
    margin-right: 0;
  }

  #homeInputContainer {
    text-align: center;
  }

  #numberOfArtists,
  #numberOfSongs {
    margin: auto;
  }
  #spotifyLogo > svg {
    padding: 0.5rem;
  }
}
